<!-- Modal -->

  <div class="modal fade" id="esqueciSenha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="formatoExterno">
        <div class="modal-header">
            <div class="titulo">
                <h5 class="modal-title" id="exampleModalLongTitle">Recupera senha</h5>
            </div>
            <div class="botao">
                <button type="button" class="close fechaRec" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
            </div>
        </div>
        <div class="modal-body row">
            <form action="login/recSenha" method="post" id="recupera">
                <!-- <div id="erroRec">

                </div> -->
                <label id="lblEmail">
                    Digite o seu email de cadastro:
                  </label>
                  <div id="erroRec">

                  </div>
                    <input type="email" placeholder="Email" name="emailRec" id="emailRec">
                <div id="informa">
                    Estaremos enviando um email com um link para alterar sua senha.
                </div>
                <label class="invi" id="lblSenha">
                    Digite a nova senha:<br>
                    <input type="password" id="senhaRec" name="senhaRec">
                </label>
                <label class="invi" id="confirmaSenhaRec">
                    <br>
                    Confirme a nova senha:<br>
                    <input type="password" id="confirmaRec" >
                </label>
                <div class="invi" id="checkSenhaRec">
    
                </div>
            </div>
            <div class="modal-footer" id="divBotoes">
              <button type="button" class="btn fechaRec" data-dismiss="modal">Voltar</button>
              <button type="submit" class="btn" id="btnConf">Confirmar</button>
            </form>
        </div>
      </div>
    </div>
  </div>