<link rel="stylesheet" href="/css/info.css">

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" id="dXGInfo" role="document">
      <div class="modal-content" id="dGInfo">
        <div class="modal-header">
            <div class="titulo">
              <h5 class="modal-title" id="exampleModalLongTitle">Informações do Grupo</h5>
            </div>
            <div class="botao">
              <button type="button" id="fechaInfo" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
            </div>
          </div>
        <div class="modal-body" id="body-info">

            <div class="body-but">
            <div class="dados">
                <div class="campo">
                    <h5 class="label">Nome do Grupo:</h5>
                    <label id="nomeGrupo">Nome</label>
                </div>
                <div class="campo">
                    <h5 class="label">Adm. do Grupo:</h5>
                    <label id="nomeAdm">Nickname</label>
                </div>
                <div class="campo">
                    <h5 class="label">Primeira reunião:</h5>
                    <label id="dataInicio">22/05/2020</label>
                </div>
                <div class="campo">
                    <h5 class="label">Endereço:</h5>
                    <label id="enderecoInfo">Av. Amazonas</label>
                </div>
                <div class="campo invi" id="cNumero">
                    <h5 class="label">Numero:</h5>
                    <label id="numero">30</label>
                </div>
                <div class="campo">
                    <h5 class="label">Descrição:</h5>
                    <label id="descricao">Nenhuma</label>
                </div>
            </div>
            <div class="adm invi">
                <div class="scrollbar" id="style-1">
                       
                </div>
            </div>
            </div>

            <div class="body-top">
                <h5 class="subTitulo">Usuários do grupo</h5>
                <div id="usuarios">

                </div>
            </div>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>